{% extends "layout.html" %}
{% block body %}
<br>
<form action="/view_trackingaccount/{{ aid }}/{{ time }}" method="POST">
  <input type="month" name="month" min="2000-01" max = "2019-12" value = {{ dateSendBack }}>
  <input type="radio" name="transactions" value="byMonth" {{byMonth}}>View by Month 
  <input type="radio" name="transactions" value="byAll" {{byAll}}>View all Transactions
  <input type="submit" value="Submit">
</form>
<!--<form action= "/view_trackingaccount/{{ aid }}" method="POST">
  <input type="submit" name="viewAll" value="View all transactions">-->
<!--</form>-->
<br>
{% if isbudget: %}
  <h3>Budget: {{ budget }}</h3>
{% endif %}
<br>
<a href = '/setbudget/{{ aid }}/{{ dateSendBack }}/{{ isbudget }}'>{{budgetButton}}</a>
<br>
<br>
{{table}}
<br>
<br>
{{summaryStats}}
<br>
{% if isbudget: %}
  <h3>Budget Left: {{ budgetLeft }}</h3>
{% endif %}
<br>
<a href = '/add_income/{{ aid }}'>click here to add an INCOME</a>
<br>
<a href = '/add_expense/{{ aid }}'>click here to add an EXPENSE</a>
<br>
<br>
<b><a href = '/'>click here to return the the home page</a> </b>
<br>
<br>
<b><a href = '/logout'>click here to log out</a></b>
{% endblock %}