{% extends "layout.html" %}
{% block body %}
<br>
<form action="/view_trackingaccount/{{ aid }}" method="POST">
  <input type="month" name="month" min="2000-01" max = "2019-12" value = {{dateSendBack}}>
  <input type="submit" value="Submit">
</form>
<br>
<br>
{{table}}
<br>
<!--<a href = '/add_trackingaccount'>click here to add a trackingaccount</a>-->
<br>
{{dateSendBack}}
<br>
<b><a href = '/'>click here to return the the home page</a> </b>
<br>
<br>
<b><a href = '/logout'>click here to log out</a></b>
{% endblock %}